* {
  margin: 0;
}

.app{
  // background: #000000;
  // color: #FFFFFF;
}

.app-items {
  background: #515A5A;
  margin-top: 85px;
  padding: 10px 20px;
}

.not-found-movies {
  font-size: 24px;
  font-weight: bolder;
  color: #FFFFFF;
  text-align: center;
  padding: 50px;

}